html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3em 0 0 0;
  margin: 0;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.row {
  width: 50%;
  border: 2px solid rgb(248, 232, 142);
  padding: 1em;
  border-radius: 12px;
}

.col-6 {
  margin: 0.4em 0;
}

.age-recorded-field {
  font-size: 1em;
}

.input-form {
  border: 2px solid rgba(51, 153, 102, 0.5);
}

#age-input {
  height: 4em;
  list-style-type: none;
  overflow: auto;
}

#rememberMeFiled {
  margin: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

#adminFiled {
  margin: 1em 0;
  width: 50%;
}

#rememberMeLabel {
  width: 95%;
}

#rememberMeLabel:hover {
  cursor: pointer;
}

#rememberMeCheckbox {
  height: 4%;
  width: 4%;
  padding: 2.5%;
  flex-shrink: 0;
  transition: background 0.15s;
}

#rememberMeCheckbox:hover {
  cursor: pointer;
}

#rememberMeCheckbox::after {
  content: "\2713";
  color: white;
  font-weight: 900;
  font-size: 1em;
  position: relative;
  bottom: 0.8em;
  right: 0.4em;
  transform: scale(0);
  transition: transform 0.15s;
}

#rememberMeCheckbox:checked {
  background-color: rgb(51, 153, 102);
}

#rememberMeCheckbox:checked::after {
  transform: scale(1);
}

#sing-up-button {
  width: 100%;
  outline: 2px solid rgb(248, 232, 142);
  color: black;
  font-weight: 700;
}
